flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5295f7b4b6a0ce2d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e88134e67a7770c6",
        "type": "ui_tab",
        "name": "Estacionamento",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "360922597724d619",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3c7c445ddf1bb621",
        "type": "ui_group",
        "name": "Vagas do estacionamento",
        "tab": "e88134e67a7770c6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c21862d89ce88af",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f4162c83213954d0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthPayload": "123",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7a93a84630ce0f3d",
        "type": "aedes broker",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 770,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6f01f2d69ad6a173",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Publisher Vagas",
        "topic": "vagas",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f4162c83213954d0",
        "x": 900,
        "y": 360,
        "wires": []
    },
    {
        "id": "232bc1282f8d1f9f",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "X",
        "payloadType": "str",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "6f01f2d69ad6a173"
            ]
        ]
    },
    {
        "id": "1a805c39bc6f9d97",
        "type": "mqtt in",
        "z": "5295f7b4b6a0ce2d",
        "name": "Subscriber Vagas",
        "topic": "vagas",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f4162c83213954d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "80172181395c1fbd",
                "19c969f02ccf435e"
            ]
        ]
    },
    {
        "id": "80172181395c1fbd",
        "type": "debug",
        "z": "5295f7b4b6a0ce2d",
        "name": "Saída: Vagas",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "f1e012898bc9d7a7",
        "type": "ui_text",
        "z": "5295f7b4b6a0ce2d",
        "group": "3c7c445ddf1bb621",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Vagas disponíveis: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1230,
        "y": 380,
        "wires": []
    },
    {
        "id": "19c969f02ccf435e",
        "type": "switch",
        "z": "5295f7b4b6a0ce2d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "B",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "AB",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "X",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 450,
        "y": 360,
        "wires": [
            [
                "59835104ddd1e77a"
            ],
            [
                "9194487a71447f3d"
            ],
            [
                "a1316b61966eaee7"
            ],
            [
                "a99a8f066954aa09"
            ]
        ]
    },
    {
        "id": "59835104ddd1e77a",
        "type": "function",
        "z": "5295f7b4b6a0ce2d",
        "name": "SomenteVagaADisponivel",
        "func": "msg.payload = \"Vaga A está disponível\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 240,
        "wires": [
            [
                "f1e012898bc9d7a7",
                "84dd63712dcd1d3d"
            ]
        ]
    },
    {
        "id": "9194487a71447f3d",
        "type": "function",
        "z": "5295f7b4b6a0ce2d",
        "name": "SomenteVagaBDisponivel",
        "func": "msg.payload = \"Vaga B está disponível\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 320,
        "wires": [
            [
                "f1e012898bc9d7a7",
                "3a6c8a7294958b36"
            ]
        ]
    },
    {
        "id": "a1316b61966eaee7",
        "type": "function",
        "z": "5295f7b4b6a0ce2d",
        "name": "AsDuasVagasDisponiveis",
        "func": "msg.payload = \"Todas as vagas estão disponíveis\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 400,
        "wires": [
            [
                "f1e012898bc9d7a7",
                "9de1ef92a3b1d83e"
            ]
        ]
    },
    {
        "id": "a99a8f066954aa09",
        "type": "function",
        "z": "5295f7b4b6a0ce2d",
        "name": "NenhumaVagaDisponivel",
        "func": "msg.payload = \"Nenhuma vaga disponível\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 480,
        "wires": [
            [
                "f1e012898bc9d7a7",
                "688427e2b4b579f5"
            ]
        ]
    },
    {
        "id": "84dd63712dcd1d3d",
        "type": "debug",
        "z": "5295f7b4b6a0ce2d",
        "name": "Resposta: 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "3a6c8a7294958b36",
        "type": "debug",
        "z": "5295f7b4b6a0ce2d",
        "name": "Resposta: 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 280,
        "wires": []
    },
    {
        "id": "9de1ef92a3b1d83e",
        "type": "debug",
        "z": "5295f7b4b6a0ce2d",
        "name": "Resposta: 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 360,
        "wires": []
    },
    {
        "id": "688427e2b4b579f5",
        "type": "debug",
        "z": "5295f7b4b6a0ce2d",
        "name": "Resposta: 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 440,
        "wires": []
    }
]